<td>
    <span
        {% if 'attr' in field_description.options|keys %}
            {% for key, attr in field_description.options['attr'] if attr is not iterable %}
                {{ key }}="{{ attr }}"
            {% endfor %}
        {% endif %}
        >
        <img src="{{ asset(value) }}" alt="" />
    </span>
</td>