<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ 'errors.500.title'|trans({}, 'messages') }}</title>
    </head>
    <body>
        <div>
            {{ 'errors.500.body'|trans({}, 'messages') }}

            <p>
                <a href="{{ url('sonata_admin_dashboard') }}" class="btn btn-primary" title="Dashboard">Dashboard</a>
            </p>
        </div>
    </body>
</html>