<input class="form-control add-to-choice" type="text" data-for="{{ id }}" style="float: left; width: calc(100% - 34px);" />
<a class="add-to-choice-btn" title="{{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}" href="javascript:;" style="border: 1px solid #d2d6de; display: inline-block; float: left; height: 34px; line-height: 34px; text-align: center; width: 34px;"><i class="fa fa-plus"></i></a>

<select
    id="{{ id }}"
    name="{{ full_name }}[]"
    multiple="multiple"
    {% for key, attrItem in attr if key not in ['id', 'name', 'required', 'multiple']|keys %}
        {{ key }}="{{ attrItem }}"
    {% endfor %}
    >
    {% for item in value %}
        <option value="{{ item }}" selected="selected">{{ item }}</option>
    {% endfor %}
</select>

<script type="text/javascript">
    $(document).ready(function () {
        $('.add-to-choice').on('keypress', function (e) {
            if (13 === e.keyCode) {
                e.preventDefault();
                e.stopPropagation();

                addToChoice($(this));
            }
        });

        $('.add-to-choice + .add-to-choice-btn').on('click', function (e) {
            addToChoice($(this).prev());
        });

        function addToChoice(choice) {
            if ('' === $(choice).val()) {
                return;
            }

            var select = 'select#' + $(choice).attr('data-for');
            var value = $(choice).val();

            // Si es de tipo email hay que comprobar que el email introducido es correcto
            if ('email' === $(choice).attr('type')) {
                var mailRegExp = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?");

                if (!$(choice).val().match(mailRegExp)) {
                    $(choice).closest('.form-group').addClass('has-error');
                    $(choice).next('.sonata-ba-field-error-messages').remove();
                    $(choice).after('<div class="help-block sonata-ba-field-error-messages"><ul class="list-unstyled"><li><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ 'email.invalid_email'|trans({}, 'validators') }}</li></ul></div>');

                    return;
                }
            }

            // Comprobamos que no exista la tag
            var tagExist = false;

            $(select + ' option').filter(function () {
                if (this.value.toLowerCase() === value.toLowerCase()) {
                    tagExist = true;
                }
            });

            if (!tagExist) {
                // Eliminamos la clase de error y el mensaje que pudiera haber
                $(choice).closest('.form-group').removeClass('has-error');
                $(choice).next('.help-block.sonata-ba-field-error-messages').remove();

                // Agregamos la tag al desplegable
                $(select).append($('<option>', {
                    value: value,
                    text: value
                }));

                // Marcamos el valor como seleccionado para que aparezca en el plugin select2
                $(select + ' option[value="' + value + '"]').attr('selected', 'selected');

                // Actualizamos el select2 con las nuevas opciones
                Admin.setup_select2(document);

                $(choice).val('');
            } else {
                // La tag esta duplicada
                $(choice).closest('.form-group').addClass('has-error');
                $(choice).next('.sonata-ba-field-error-messages').remove();
                $(choice).after('<div class="help-block sonata-ba-field-error-messages"><ul class="list-unstyled"><li><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ 'value.duplicated'|trans({}, 'validators') }}</li></ul></div>');
            }

            // Eliminamos la clase de error y el mensaje que pudiera haber
            $(choice).closest('.form-group').removeClass('has-error');
            $(choice).next('.help-block.sonata-ba-field-error-messages').remove();
        }
    });
</script>