{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if value %}
        {% set isLoggedSuperAdmin = ('ROLE_SUPER_ADMIN' == app.user.role) %}
        {% set isUserField = ('Application\\Sonata\\UserBundle\\Entity\\User' == field_description.associationMapping['targetEntity']|default(false)) ? true : false %}

        {% set userObjectIsAdmin = false %}

        {% if (isUserField and false == isLoggedSuperAdmin) %}
            {% set userObjectIsAdmin = ('ROLE_SUPER_ADMIN' == value.role) %}
        {% endif %}

        {% set route_name = field_description.options.route.name %}

        {#
            Si el usuario logueado no es SUPER_ADMIN
            y el objeto que se va a pintar es de tipo Application\Sonata\UserBundle\Entity\User
            y el User que se va a pintar es SUPER_ADMIN

            solo mostramos el texto
        #}
        {% if (isLoggedSuperAdmin and isUserField or (false == userObjectIsAdmin)) and
              not field_description.options.identifier|default(false) and
              field_description.hasAssociationAdmin and
              field_description.associationadmin.hasRoute(route_name) and
              field_description.associationadmin.hasAccess(route_name, value)
        %}
        <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, value, field_description.options.route.parameters) }}">
            {{ value|render_relation_element(field_description) }}
        </a>
        {% else %}
            {{ value|render_relation_element(field_description) }}
        {% endif %}
    {% endif %}
{% endblock %}
