{% block sonata_type_date_picker_widget_html %}
    {% if datepicker_use_button %}
        <div class="input-group date" id="dp_{{ id }}">
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
    {% endif %}

    {% set attr = attr|merge({'data-date-format': moment_format}) %}

    {{ block('date_widget') }}

    {% if datepicker_use_button %}
        </div>
    {% endif %}
{% endblock sonata_type_date_picker_widget_html %}

{% block sonata_type_date_picker_widget %}
    {% spaceless %}
        {% if wrap_fields_with_addons %}
            <div class="input-group">
                {{ block('sonata_type_date_picker_widget_html') }}
            </div>
        {% else %}
            {{ block('sonata_type_date_picker_widget_html') }}
        {% endif %}

        <script type="text/javascript">
            jQuery(function ($) {
                $('#{{ datepicker_use_button ? 'dp_' : '' }}{{ id }}').datetimepicker({
                    'calendarWeeks':{{ dp_options.calendarWeeks|json_encode|raw }},
                    'collapse':{{ dp_options.collapse|json_encode|raw }},
                    'daysOfWeekDisabled':{{ dp_options.daysOfWeekDisabled|json_encode|raw }},
                    'defaultDate':{{ dp_options.defaultDate|json_encode|raw }},
                    'disabledDates':{{ dp_options.disabledDates|json_encode|raw }},
                    'enabledDates':{{ dp_options.enabledDates|json_encode|raw }},
                    'format':{{ moment_format|default('dd/MM/yyyy')|json_encode|raw }},
                    'icons':{{ dp_options.icons|json_encode|raw }},
                    'locale':{{ dp_options.language|default('en')|json_encode|raw }},
                    {% if dp_options.maxDate %}'maxDate':{{ dp_options.maxDate|json_encode|raw }},{% endif %}
                    'minDate':{{ dp_options.minDate|date('Y-m-d H:i:s')|json_encode|raw }},
                    'sideBySide':{{ dp_options.sideBySide|json_encode|raw }},
                    'useCurrent':{{ dp_options.useCurrent|json_encode|default('false')|raw }},
                    'useStrict':{{ dp_options.useStrict|json_encode|raw }},
                    'viewMode':{{ dp_options.viewMode|json_encode|raw }},
                });

                {% if 'data-range-checker-start' in attr|keys %}
                    // Si el date esta enlazada con una fecha fin, cuando hagamos clic en el date de inicio, hay que marcar la fecha minima del dateEnd con el valor del dateBegin
                    var idStart = '#dp_{{ sonata_admin.admin.uniqid }}_' + $('[data-range-checker-start]').attr('data-range-checker-start');

                    $(idStart).on('dp.change', function(e) {
                        $('#{{ datepicker_use_button ? 'dp_' : '' }}{{ id }}').data('DateTimePicker').minDate(e.date);

                        var beginDate = new Date(e.date);
                        //var endDate = new Date($('#{{ datepicker_use_button ? 'dp_' : '' }}{{ id }}').find('input').val());
                        var endDate = new Date($('#{{ datepicker_use_button ? 'dp_' : '' }}{{ id }}').data('DateTimePicker').date());

                        if (beginDate > endDate) {
                             $('#{{ datepicker_use_button ? 'dp_' : '' }}{{ id }}').data('DateTimePicker').date(e.date);
                        }
                    });
                {% endif %}
            });
        </script>
    {% endspaceless %}
{% endblock sonata_type_date_picker_widget %}

{% block sonata_type_datetime_picker_widget_html %}
    {% if datepicker_use_button %}
        <div class="input-group date {% if not dp_options['pickDate'] %}timepicker{% endif %}" id="dtp_{{ id }}">
            <span class="input-group-addon">
                <span class="fa {% if dp_options['pickDate'] %}fa-calendar{% else  %}fa-clock-o{% endif %}"></span>
            </span>
    {% endif %}

    {% set attr = attr|merge({'data-date-format': moment_format}) %}

    {{ block('datetime_widget') }}

    {% if datepicker_use_button %}
        </div>
    {% endif %}
{% endblock sonata_type_datetime_picker_widget_html %}

{% block sonata_type_datetime_picker_widget %}
    {% spaceless %}
        {% if wrap_fields_with_addons %}
            <div class="input-group">
                {{ block('sonata_type_datetime_picker_widget_html') }}
            </div>
        {% else %}
            {{ block('sonata_type_datetime_picker_widget_html') }}
        {% endif %}

        <script type="text/javascript">
            jQuery(function ($) {
                $('#{{ datepicker_use_button ? 'dtp_' : '' }}{{ id }}').datetimepicker({
                    'calendarWeeks':{{ dp_options.calendarWeeks|json_encode|raw }},
                    'collapse':{{ dp_options.collapse|json_encode|raw }},
                    'daysOfWeekDisabled':{{ dp_options.daysOfWeekDisabled|json_encode|raw }},
                    'defaultDate':{{ dp_options.defaultDate|json_encode|raw }},
                    'disabledDates':{{ dp_options.disabledDates|json_encode|raw }},
                    'enabledDates':{{ dp_options.enabledDates|json_encode|raw }},
                    'format':{{ moment_format|default('dd/MM/yyyy HH:mm')|json_encode|raw }},
                    'icons':{{ dp_options.icons|json_encode|raw }},
                    'locale':{{ dp_options.language|default('en')|json_encode|raw }},
                    {% if dp_options.maxDate %}'maxDate':{{ dp_options.maxDate|json_encode|raw }},{% endif %}
                    'minDate':{{ dp_options.minDate|date('Y-m-d H:i:s')|json_encode|raw }},
                    'sideBySide':{{ dp_options.sideBySide|json_encode|raw }},
                    'useCurrent':{{ dp_options.useCurrent|json_encode|default('false')|raw }},
                    'useStrict':{{ dp_options.useStrict|json_encode|raw }},
                    'viewMode':{{ dp_options.viewMode|json_encode|raw }},
                });

                {% if 'data-range-checker-start' in attr|keys %}
                    // Si el date esta enlazada con una fecha fin, cuando hagamos clic en el date de inicio, hay que marcar la fecha minima del dateEnd con el valor del dateBegin
                    var idStart = '#dtp_{{ sonata_admin.admin.uniqid }}_' + $('[data-range-checker-start]').attr('data-range-checker-start');

                    $(idStart).on('dp.change', function(e) {
                        $('#{{ datepicker_use_button ? 'dtp_' : '' }}{{ id }}').data('DateTimePicker').minDate(e.date);

                        var beginDate = new Date(e.date);
                        //var endDate = new Date($('#{{ datepicker_use_button ? 'dtp_' : '' }}{{ id }}').find('input').val());
                        var endDate = new Date($('#{{ datepicker_use_button ? 'dtp_' : '' }}{{ id }}').data('DateTimePicker').date());

                        if (beginDate > endDate) {
                             $('#{{ datepicker_use_button ? 'dtp_' : '' }}{{ id }}').data('DateTimePicker').date(e.date);
                        }
                    });
                {% endif %}
            });
        </script>
    {% endspaceless %}
{% endblock sonata_type_datetime_picker_widget %}
