// TAGS
img {
    max-width: 100%;
}

[readonly] {
    cursor: not-allowed !important;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    &:focus {
        outline: none !important;
        border-color: #d2d6de !important;
    }
}

// HELPERS
.cursor-wait, html.cursor-wait * {
    cursor: wait !important;
}

// DATETIMEPICKER
.bootstrap-datetimepicker-widget.dropdown-menu > ul > li:first-child {
    width: 100%;
}

#dropdown-languages {
    padding: 0;

    a {
        padding: 10px;

        &.locale-active {
            background: #3261be;
            color: #ffffff;
        }
    }
}

// Los select obligatorios que sean select2 no muestran el mensaje de advertencia de que el campo es obligatorio
select[required][style*="display:none"],
select[required][style*="display: none"] {
    display: block !important;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 34px;
}

// Para que los checkbox del formulario esten alineados con los demas campos
.sonata-ba-field.sonata-ba-field-standard-natural > .checkbox {
    height: 39px;
    line-height: 49px;
}


// FILTROS AVANZADOS
.advanced-filter .hide-advanced-filter-extra-data {
    div {
        &:first-child label,
            &+div {
            display: none;
        }
    }
}